<script setup lang="ts">
import AppBar from '@/components/AppBar.vue';
import AppBarButton from '@/components/AppBarButton.vue';
import AppName from '@/components/AppName.vue';
import DisabledLocationInfo from '@/components/DisabledLocationInfo.vue';
import Empty from '@/components/Empty.vue';
import LargeMap from '@/components/LargeMap.vue';
import NavigationItem from '@/components/NavigationItem.vue';
import PoiList from '@/components/PoiList.vue';
import Separator from '@/components/Separator.vue';
import { getGuides, type GuidedTour } from '@/model/Guides';
import { annotateDistance, findNearbyPOIs, findPOIsByCommand, getCity } from '@/model/NearbyItems';
import type { LatLngBounds } from 'leaflet';
import { LocateFixed, Menu, MountainSnow, Navigation2 } from 'lucide-vue-next';
import { onMounted, ref, watch, type Ref } from 'vue';
import NavigationDrawer from '../components/NavigationDrawer.vue';
import * as LocationService from '../model/LocationService';

const poiItems = <Ref<any[]>>ref([])
const currentGuide = <Ref<GuidedTour|undefined>>ref(undefined)
const cityName = ref("")
const autoCenter = ref(true)
const loading = ref(false)

const guides = ref(getGuides())
const showDrawer = ref(false)
const animateDrawer = ref(false)

const currentBounds = <Ref<LatLngBounds|undefined>>ref(undefined)
const selectedItem = <Ref<any|undefined>>ref(undefined)

onMounted(() => {
    LocationService.autoEnable()
})

async function loadItems(bounds: LatLngBounds) {
    loading.value = true
    const bbox = {
        topLeft: {lat: bounds.getNorthWest().lat, lon: bounds.getNorthWest().lng},
        bottomRight: {lat: bounds.getSouthEast().lat, lon: bounds.getSouthEast().lng}
    }

    cityName.value = await getCity(bbox) ?? "Somewhere"

    if (currentGuide.value == undefined) {
        poiItems.value = await loadPOIs(bbox)
    } else {
        poiItems.value = await loadGuide(bbox)
    }
    loading.value = false
}

async function loadPOIs(bbox: {topLeft:{lat:number, lon:number}, bottomRight:{lat:number, lon:number}}): Promise<any[]> {
    const items = await findNearbyPOIs(LocationService.currentLocation.value!, bbox)
    return annotateDistance(items, LocationService.currentLocation.value!)
                     .sort((a, b) => a.distance - b.distance)
}

async function loadGuide(bbox: {topLeft:{lat:number, lon:number}, bottomRight:{lat:number, lon:number}}): Promise<any[]> {
    const items = await findPOIsByCommand(currentGuide.value!.command, LocationService.currentLocation.value!, bbox)
    return annotateDistance(items, LocationService.currentLocation.value!)
                     .sort((a, b) => a.distance - b.distance)
}

watch(currentGuide, _ => {
    if (!currentBounds.value) return
    poiItems.value = []
    selectedItem.value = undefined
    loadItems(currentBounds.value!)
})

function mapAreaChanged(bounds: LatLngBounds, byUser: boolean) {
    currentBounds.value = bounds
    if (byUser) autoCenter.value = false 
    defer(() => {
        loadItems(bounds)
    })
}

var deferTimer = <number|null>null
function defer(f: Function) {
    if (deferTimer != null) clearTimeout(deferTimer!)
    deferTimer = setTimeout(() => {
        deferTimer = null
        f()
    }, 1000)
}


function activateAutoCenter() {
    autoCenter.value = true
}

function itemSelected(item: any) {
    selectedItem.value = item.id
}

function openDrawer() {
    animateDrawer.value = true
    showDrawer.value = true
    requestAnimationFrame(() => {
        animateDrawer.value = false
    })
}

function closeDrawer() {
    animateDrawer.value = true
    setTimeout(() => {
        showDrawer.value = false
    }, 600)
}

function selectGuide(guide: GuidedTour|undefined) {
    closeDrawer()
    currentGuide.value = guide
}


</script>

<template>

    <Empty
        v-if="LocationService.state.value != LocationService.LocationState.Deactivated && LocationService.currentLocation == undefined"
        class="cover"
        :icon="Navigation2"
        title="Looking for you"
        text="We need a moment to locate you."
        />

    <DisabledLocationInfo
        v-if="LocationService.state.value == LocationService.LocationState.Deactivated || LocationService.state.value == LocationService.LocationState.Inactive"
        />

    <div 
        v-if="LocationService.state.value == LocationService.LocationState.Ready && LocationService.currentLocation != undefined"
        class='combined-view'>

        <main id="poi-list-container">            
            <Empty
                v-if="poiItems.length == 0"
                class='cover'
                :icon="MountainSnow"
                title="No Landmarks found"
                text="We know of nothing to see here. Check back later.">
            </Empty>
            <PoiList
                :items="poiItems"
                :selected="selectedItem"
                />
        </main>

        <div>
            <LargeMap
                @area-changed="mapAreaChanged"
                @item-selected="itemSelected"
                :items="poiItems"
                :my-location="LocationService.currentLocation.value!"
                :auto-center="autoCenter"
                />
        </div>
    </div>

    <AppBar :loading="loading">
        <template #left>
            <AppBarButton
                @click="openDrawer"
                :icon="Menu" />
        </template>
        <template #right>
            <AppBarButton 
                @click="activateAutoCenter"
                :icon="LocateFixed" 
                :active="autoCenter" />
        </template>
        <template #default>
            <AppName v-if="currentGuide == undefined"></AppName>
            <template v-if="currentGuide != undefined">{{ currentGuide!.title }}</template>
        </template>
    </AppBar>

    <NavigationDrawer 
        v-if="showDrawer" 
        @close="closeDrawer"
        :animate="animateDrawer"
        >
        <NavigationItem 
            @click="selectGuide(undefined)"
            :class='{active: currentGuide == undefined}' 
            title="Near Me" />
        <Separator />
        <h2>Guides</h2>
        <NavigationItem 
            v-for="guide in guides" 
            @click="selectGuide(guide)"
            :title="guide.title" 
            :class="{active: guide == currentGuide}"
            />

    </NavigationDrawer>

</template>

<style>
.map-view {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 0 0;
}
.map-view .large-map {
    display: block;
    width: 100%;
    height: 100%;
}

.combined-view {
    display: block;
    position: relative;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;
}
.combined-view > :first-child {
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    overflow: hidden;
    overflow-y: auto;

    animation: combinedviewlist 1s ease-in-out forwards;
}
.combined-view > :last-child {
    display: block;
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 35%);
    height: 100%;
    overflow: hidden;
    animation: combinedviewmap 2s ease-in-out forwards;
}

.combined-view .large-map {
    display: block;
    width: 100%;
    height: 100%;
}

.combined-view .segmented-button {
    margin-bottom: 16px;
}

@keyframes combinedviewlist {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes combinedviewmap {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

</style>