<script setup lang="ts">
import AppBar from '@/components/AppBar.vue';
import GuideList from '@/components/GuideList.vue';
import { getGuides, type GuidedTour } from '@/model/Guides';
import { onMounted, ref, watch, type Ref } from 'vue';

defineProps<{
    rail: boolean,
}>()

const emit = defineEmits<{
    (e: 'selected', guide: GuidedTour): void
}>()

const guides = <Ref<GuidedTour[]>>ref([])

function openGuide(guide: GuidedTour) {
    emit('selected', guide)
}

onMounted(() => {
    requestAnimationFrame(() => {
        guides.value = getGuides()
    })
})

</script>

<template>
    <main :class="{rail: rail}">
        <GuideList
            @open-guide="openGuide"
            :items="guides"
            />
    </main>

    <AppBar :class="{rail: rail}">
        Guides
    </AppBar>

</template>