<script setup lang="ts">
import AppBar from '@/components/AppBar.vue';
import AppBarButton from '@/components/AppBarButton.vue';
import DisabledLocationInfo from '@/components/DisabledLocationInfo.vue';
import Empty from '@/components/Empty.vue';
import InfoSheet from '@/components/InfoSheet.vue';
import LargeMap from '@/components/LargeMap.vue';
import type { GuidedTour } from '@/model/Guides';
import { findPOIsByCommand } from '@/model/NearbyItems';
import type { LatLngBounds } from 'leaflet';
import { ChevronLeft, LocateFixed, Navigation2 } from 'lucide-vue-next';
import { onMounted, ref, type Ref } from 'vue';
import * as LocationService from '../model/LocationService';

defineEmits<{
    (e: 'back'): void
}>()

const props = defineProps<{
    guide: GuidedTour,
    rail: boolean,
}>()

const loading = ref(false)
const items = <Ref<any[]>>ref([])
const infoSheetItem = <Ref<any|undefined>>ref(undefined)
const autoCenter = ref(true)

onMounted(() => {
    LocationService.autoEnable()
})

async function loadItems(bounds: LatLngBounds) {
    loading.value = true
    const bbox = {
        topLeft: {lat: bounds.getNorthWest().lat, lon: bounds.getNorthWest().lng},
        bottomRight: {lat: bounds.getSouthEast().lat, lon: bounds.getSouthEast().lng}
    }

    items.value = await findPOIsByCommand(props.guide.command, LocationService.currentLocation.value!, bbox)
    loading.value = false
}

function mapAreaChanged(bounds: LatLngBounds, byUser: boolean) {
    if (byUser) autoCenter.value = false 
    defer(() => {
        loadItems(bounds)
    })
}

var deferTimer = <number|null>null
function defer(f: Function) {
    if (deferTimer != null) clearTimeout(deferTimer!)
    deferTimer = setTimeout(() => {
        deferTimer = null
        f()
    }, 1000)
}

function itemSelected(item: any) {
    infoSheetItem.value = item
}

function activateAutoCenter() {
    autoCenter.value = true
}

</script>

<template>
    
    <main class='map-view'>

        <Empty
            v-if="LocationService.state.value != LocationService.LocationState.Deactivated && LocationService.currentLocation == undefined"
            class="cover"
            :icon="Navigation2"
            title="Looking for you"
            text="We need a moment to locate you."
            />

        <DisabledLocationInfo
            v-if="LocationService.state.value == LocationService.LocationState.Deactivated || LocationService.state.value == LocationService.LocationState.Inactive"
            />

        <LargeMap
            emits
            v-if="LocationService.state.value == LocationService.LocationState.Ready && LocationService.currentLocation != undefined"
            @area-changed="mapAreaChanged"
            @item-selected="itemSelected"
            :items="items"
            :my-location="LocationService.currentLocation.value!"
            :auto-center="autoCenter"
            :surrounding-box="1000"
            :min-zoom="10"
            />
    </main>

    <InfoSheet
        v-if="infoSheetItem != undefined"
        @close="infoSheetItem = undefined"
        :item="infoSheetItem"
        :class="{rail: rail}"
        ></InfoSheet>

    <AppBar :loading="loading" :class="{rail: rail}">
        <template #left>
            <AppBarButton 
                @click="$emit('back')"
                :icon="ChevronLeft" />
        </template>
        <template #right>
            <AppBarButton 
                @click="activateAutoCenter"
                :icon="LocateFixed" 
                :active="autoCenter" />
        </template>
        <template #default>{{ guide.title }}</template>
    </AppBar>

</template>