<script setup lang="ts">
import type { GuidedTour } from '@/model/Guides';
import { computed, KeepAlive, ref, type Ref } from 'vue';
import GuidesDetailView from './GuidesDetailView.vue';
import GuidesListView from './GuidesListView.vue';

defineProps<{
    rail: boolean,
}>()

const activeGuide = <Ref<GuidedTour|undefined>>ref(undefined)

function guideSelected(guide: GuidedTour) {
    activeGuide.value = guide
}

const currentView = computed(() => {
    return activeGuide.value == undefined ? GuidesListView : GuidesDetailView
})

</script>

<template>
    
    <KeepAlive exclude="GuidesDetailView">

        <Component 
            :is="currentView"
            @selected="guideSelected"
            @back="activeGuide = undefined"
            :guide="activeGuide"
            :rail="rail"
            />

    </KeepAlive>

</template>