<script setup lang="ts">
import AppBar from '@/components/AppBar.vue';
import AppBarButton from '@/components/AppBarButton.vue';
import Button from '@/components/Button.vue';
import DisabledLocationInfo from '@/components/DisabledLocationInfo.vue';
import Empty from '@/components/Empty.vue';
import InfoSheet from '@/components/InfoSheet.vue';
import LargeMap from '@/components/LargeMap.vue';
import { annotateDistance, findNearbyPOIs, getCity } from '@/model/NearbyItems';
import type { LatLngBounds } from 'leaflet';
import { LocateFixed, Navigation2, NavigationOff } from 'lucide-vue-next';
import { onMounted, ref, type Ref } from 'vue';
import * as LocationService from '../model/LocationService';

defineProps<{
    rail: boolean,
}>()

const poiItems = <Ref<any[]>>ref([])
const cityName = ref("")
const autoCenter = ref(true)
const infoSheetItem = <Ref<any|undefined>>ref(undefined)
const loading = ref(false)

onMounted(() => {
    LocationService.autoEnable()
})

async function loadItems(bounds: LatLngBounds) {
    loading.value = true
    const bbox = {
        topLeft: {lat: bounds.getNorthWest().lat, lon: bounds.getNorthWest().lng},
        bottomRight: {lat: bounds.getSouthEast().lat, lon: bounds.getSouthEast().lng}
    }

    cityName.value = await getCity(bbox) ?? "Somewhere"
    const items = await findNearbyPOIs(LocationService.currentLocation.value!, bbox)
    poiItems.value = items
    loading.value = false
}

function mapAreaChanged(bounds: LatLngBounds, byUser: boolean) {
    if (byUser) autoCenter.value = false 
    defer(() => {
        loadItems(bounds)
    })
}

var deferTimer = <number|null>null
function defer(f: Function) {
    if (deferTimer != null) clearTimeout(deferTimer!)
    deferTimer = setTimeout(() => {
        deferTimer = null
        f()
    }, 1000)
}

function activateAutoCenter() {
    autoCenter.value = true
}

function itemSelected(item: any) {
    infoSheetItem.value = item
}

</script>

<template>

    <main class='map-view'>

        <Empty
            v-if="LocationService.state.value != LocationService.LocationState.Deactivated && LocationService.currentLocation == undefined"
            class="cover"
            :icon="Navigation2"
            title="Looking for you"
            text="We need a moment to locate you."
            />

        <DisabledLocationInfo
            v-if="LocationService.state.value == LocationService.LocationState.Deactivated || LocationService.state.value == LocationService.LocationState.Inactive"
            />

        <LargeMap
            v-if="LocationService.state.value == LocationService.LocationState.Ready && LocationService.currentLocation != undefined"
            @area-changed="mapAreaChanged"
            @item-selected="itemSelected"
            :items="poiItems"
            :my-location="LocationService.currentLocation.value!"
            :auto-center="autoCenter"
            />
    </main>

    <InfoSheet
        v-if="infoSheetItem != undefined"
        @close="infoSheetItem = undefined"
        :item="infoSheetItem"
        :class="{rail: rail}"
        ></InfoSheet>
    

    <AppBar :loading="loading" :class="{rail: rail}">
        <template #right>
            <AppBarButton 
                @click="activateAutoCenter"
                :icon="LocateFixed" 
                :active="autoCenter" />
        </template>
        <!-- <template #right><AppBarButton :icon="Filter" /></template> -->
        <template #default>{{ cityName }}</template>
    </AppBar>

</template>

<style>
.map-view {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 0 0;
}
.map-view .large-map {
    display: block;
    width: 100%;
    height: 100%;
}

</style>