<script setup lang="ts">
import AppBar from '../components/AppBar.vue';
import AppName from '../components/AppName.vue';

import Empty from '@/components/Empty.vue';
import { computed } from '@vue/reactivity';
import { MountainSnow } from 'lucide-vue-next';
import { onMounted, onUnmounted, ref, watch, type Ref } from 'vue';
import { annotateDistance, findNearbyPOIs } from '../model/NearbyItems';

import DisabledLocationInfo from '@/components/DisabledLocationInfo.vue';
import PoiList from '@/components/PoiList.vue';
import SearchAnimation from '@/components/SearchAnimation.vue';
import Geofence from '@/model/Geofence';
import * as LocationService from '../model/LocationService';

defineProps<{
    rail: boolean,
}>()

const data = <Ref<any[]>>ref([])
const loading = ref(false)

const geofence = new Geofence(100, () => {
    if (LocationService.currentLocation.value == undefined) return
    reloadData(LocationService.currentLocation.value)
})


const nearItems = computed(() => {
    return annotateDistance(data.value, LocationService.currentLocation.value!)
        .sort((a, b) => a.distance - b.distance)
})

const displayedItems = <Ref<any[]>>ref([])
watch(nearItems, items => {
    setTimeout(() => {
        displayedItems.value = items
    }, 100)
})

async function reloadData(coords: GeolocationCoordinates) {
    loading.value = true
    data.value = await findNearbyPOIs(coords)
    loading.value = false
}

onMounted(() => {
    LocationService.autoEnable().then(coords => {
        if (coords != undefined) reloadData(coords)
    }, _ => {})
    geofence.start()
})

onUnmounted(() => {
    geofence.stop()
})

watch(LocationService.state, state => {
    if (state == LocationService.LocationState.Ready) {
        reloadData(LocationService.currentLocation.value!)
    }
})
    

</script>

<template>

    <Empty
        v-if="nearItems.length == 0 && LocationService.state.value == LocationService.LocationState.Ready"
        class='cover'
        :icon="MountainSnow"
        title="Looking for Landmarks"
        text="We know of nothing to see here. Check back later.">
        <template #icon><SearchAnimation></SearchAnimation></template>
    </Empty>

    <DisabledLocationInfo
        v-if="LocationService.state.value != LocationService.LocationState.Ready"
        />

    <main
        v-if="LocationService.state.value == LocationService.LocationState.Ready && nearItems.length > 0"
        :class="{rail: rail}"
        >
        <PoiList
            :items="displayedItems"
            />
    </main>

    <AppBar :loading="loading" :class="{rail: rail}">
        <template #default><AppName /></template>
    </AppBar>

</template>

<style>
.near-me-list-enter-active,
.near-me-list-leave-active,
.near-me-list-move {
    transition: 0.5s ease-in-out;
}
.near-me-list-enter-from,
.near-me-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
</style>