<script setup lang="ts">
defineProps<{
    loading?: boolean
}>()
</script>
<template>
    <header class="app-bar">
        <nav class='app-bar-left'><slot name="left"></slot></nav>
        <slot></slot>
        <nav class='app-bar-right'><slot name="right"></slot></nav>
        <div 
            v-if="loading"
            class='app-bar-loader'></div>
    </header>
</template>

<style>
.app-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 64px;
    height: calc(64px + env(safe-area-inset-top));
    padding: 8px 16px;
    padding-top: calc(8px + env(safe-area-inset-top));

    background: var(--md-sys-color-surface-variant-transparent);
    color: var(--md-sys-color-on-surface-variant);

    z-index: 3000;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.app-bar.rail {
    left: 80px;
    left: calc(80px + env(safe-area-inset-left));
}
.app-bar-left,
.app-bar-right {
    display: flex;
    width: 48px;
    height: 100%;
}
.app-bar-loader {
    display: block;
    position: absolute;

    left: 4px;
    bottom: 4px;
    height: 4px;
    width: 32px;

    background: var(--md-sys-color-primary);
    border-radius: 2px;

    animation: appbarloader 2s ease-in-out infinite alternate;
}
@keyframes appbarloader {
    0% {
        left: 4px;
        width: 32px;
    }
    50% {
        left: 4px;
        width: calc(100% - 8px);
    }
    100% {
        left: calc(100% - 8px - 32px);
        width: 32px;
    }
}
</style>