<script setup lang="ts">
defineProps<{
    icon: any,
    active?: boolean
}>()
</script>

<template>
    <div class="app-bar-button">
        <component 
            :is="icon"
            size="24"
                />
        <span
            v-if="active"
            class="app-bar-button-indicator"></span>
    </div>
</template>

<style>
.app-bar-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 48px;
    height: 48px;

    background: none;
    border: none;

    border-radius: 16px;
    cursor: pointer;
}

.app-bar-button-indicator {
    display: block;
    position: absolute;

    right: 8px;
    top: 8px;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 100%;

    background: var(--md-sys-color-primary);

}

</style>