<script setup lang="ts">
defineProps<{
    icon?: any,
    title: string
}>()
</script>

<template>
    <button class="label-large" :class="{hasIcon: icon != null}">
        <slot>
            <component 
                v-if="icon"
                :is="icon"
                size="18"
                class="button-icon"
                 />
            <span>{{ title }}</span>
        </slot>
    </button>
</template>

<style>
button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    border: 1px solid var(--md-sys-color-outline);

    height: 40px;
    border-radius: 16px;
    padding: 0 24px;

    cursor: pointer;

}
button.tonal {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border-color: var(--md-sys-color-secondary-container)
}
button.simple {
    border-color: var(--md-sys-color-surface)
}
button .button-icon {
    margin-right: 8px;
}
button.hasIcon {
    padding-left: 16px;
}
</style>