<script setup lang="ts">
</script>

<template>
    <article class="card">
        <slot></slot>
    </article>
</template>

<style>
.card {
    display: block;
    position: relative;

    box-shadow: 0 0 2px var(--md-sys-color-outline);

    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    border-radius: 12px;
    padding: 16px;

    overflow: hidden;

}
.card.active {
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}
</style>