<script setup lang="ts">
import type { Component } from 'lucide-vue-next';

defineProps<{
    icon?: any,
    title: string
}>()
</script>

<template>
    <span class="chip label-large" :class="{hasIcon: icon}">
        <Component
            v-if="icon"
            :is="icon"
            :size="18"
             />
        <span>{{ title }}</span>
    </span>
</template>

<style>
.chip {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 8px;

    border: 1px solid var(--md-sys-color-outline);
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    border-radius: 8px;
    padding: 0 16px;
    height: 32px;
}
.chip.hasIcon {
    padding-left: 8px;
}
</style>