<script setup lang="ts">
import { NavigationOff } from 'lucide-vue-next';
import * as LocationService from '../model/LocationService'
import Button from './Button.vue';
import Empty from './Empty.vue';

function requestLocationAccess() {
    LocationService.activateLocation()
}

</script>

<template>
    <Empty
        v-if="LocationService.state.value != LocationService.LocationState.Ready"
        class='cover'
        :icon="NavigationOff"
        title="Where is this place?"
        text="Enable Location to find Landmarks near you.">
        <Button @click="requestLocationAccess" title="Enable Location"></Button>
    </Empty>
</template>
