<script setup lang="ts">
import type { Component } from 'lucide-vue-next';

defineProps<{
    icon?: any,
    title: string,
    text?: string,
}>()
</script>

<template>
    <div class="empty-banner">
        <slot name="icon">
            <Component
                :is="icon"
                :size="60" />
        </slot>
        <strong class='headline-large'>{{ title }}</strong>
        <p v-if="text" class='body-large'>{{ text }}</p>
        <slot></slot>
    </div>
</template>

<style>
.empty-banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;

    text-align: center;
}
.empty-banner.cover {
    min-height: 100vh;
}
</style>