<script setup lang="ts">
import type { GuidedTour } from '@/model/Guides';
import GuideCard from './GuideCard.vue';

const emit = defineEmits<{
    (e: 'openGuide', guide: GuidedTour): void
}>()

defineProps<{
    items: GuidedTour[]
}>()

function openGuide(guide: GuidedTour) {
    emit('openGuide', guide)
}
</script>

<template>
    <div class="guide-list">

        <TransitionGroup name="near-me-list">
            <GuideCard
                v-for="item, i in items"
                @open-guide="openGuide"
                :key="i"
                :guide="item"
                />
        </TransitionGroup>

    </div>
</template>

<style>
.guide-list {
    display: flex; 
    flex-flow: column nowrap; 
    gap: 16px;
}
</style>