<script setup lang="ts">
import Card from './Card.vue';
import Button from './Button.vue';
import Chip from './Chip.vue';
import type { GuidedTour } from '@/model/Guides';

defineEmits<{
    (e: 'openGuide', guide: GuidedTour): void
}>()

defineProps<{
    guide: GuidedTour,
}>()

</script>

<template>
    <Card class="poi-card">
        <div class="poi-card-title">
            <h2 class='title-large'>{{ guide.title }}</h2> 
        </div>
        <div class="poi-card-chips">
            <Chip
                v-for="c in guide.category"
                :title="c" />
        </div>
        <h3 class='title-medium'>{{ guide.description }}</h3>
        <div class="poi-card-buttons">
            <Button 
                @click="$emit('openGuide', guide)"
                class="tonal"
                title="Open Guide"></Button>
        </div>
    </Card>
</template>