<script setup lang="ts">
import SimplePoiCard from './SimplePoiCard.vue';

defineEmits<{
    (e: 'close'): void
}>()

defineProps<{
    item: any
}>()
</script>

<template>
    <article class="info-sheet">
        <SimplePoiCard
            @close="$emit('close')"
            :key="item.id"
            :title="item.tags.name ?? item.tags.artwork_type ?? item.tags.tourism ?? 'Landmark'"
            :category="item.tags.artwork_type ?? item.tags.tourism ?? ''"
            :artist="item.tags.artist_name"
            :description="item.tags.description"
            :image="item.tags.image"
            :website="item.tags.website"
            :since="item.tags.start_date"
            :indoor="item.tags.indoor == 'yes'"
            :accessible="item.tags.wheelchair == 'yes'"
             />
    </article>
</template>

<style>
.info-sheet {
    display: block;
    position: fixed;

    left: 8px;
    left: calc(8px + env(safe-area-inset-left));
    right: 8px;
    right: calc(8px + env(safe-area-inset-right));
    bottom: 88px;
    bottom: calc(88px + env(safe-area-inset-bottom));

    z-index: 2000;

    transition: 0.5s ease-in-out;
}
.info-sheet > .poi-card {
    transition: 0.5s ease-in-out;
}
.info-sheet.rail {
    left: 88px;
    left: calc(80px + 8px + env(safe-area-inset-left));
    bottom: 8px;
    bottom: calc(8px + env(safe-area-inset-bottom));
}
</style>