<script setup lang="ts">
import { getBoundingBox } from 'geolocation-utils';
import type { Circle, LatLngBounds, Map, Marker } from 'leaflet';
import { onMounted, ref, watch, type Ref } from 'vue';

const emit = defineEmits<{
  (e: 'areaChanged', area: LatLngBounds, byUser: boolean): void,
  (e: 'itemSelected', item: any): void,
}>()

const props = defineProps<{
    items: any[],
    myLocation?: {longitude: number, latitude: number, accuracy: number},
    autoCenter: boolean,
    surroundingBox?: number,
    minZoom?: number
}>()

const mapElement = <Ref<HTMLElement|null>>ref(null)

let map = <Map|null>null
let myMarker = <Circle<any>|null>null

let marker = <Marker[]>[]

watch(() => props.myLocation, loc => {
    if (loc == undefined) return
    myMarker!.setLatLng([loc.latitude, loc.longitude])
    myMarker!.setRadius(loc.accuracy)
    if (props.autoCenter) zoomMap()
})

watch(() => props.autoCenter, autoCenter => {
    if (autoCenter) zoomMap()
})

watch(() => props.items, items => {
    marker.forEach(m => m.remove());
    marker = items.map(i => {
        const title = i.tags.name ?? i.tags.artwork_type ?? i.tags.tourism ?? "Landmark"
        return L.marker([i.lat, i.lon], {
            title
        })
        .on('click', e => {
            emit('itemSelected', i)
        })
        .addTo(map!)
    })
})

onMounted(() => {
    
    map = L.map(mapElement.value!, {zoomControl: false, attributionControl: true})
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        minZoom: props.minZoom ?? 15,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map)
    myMarker = L.circle([props.myLocation?.latitude ?? 0, props.myLocation?.longitude ?? 0], {
        radius: props.myLocation?.accuracy ?? 0,
        color: 'transparent',
        fillColor: 'var(--md-sys-color-primary-container)',
        fillOpacity: 0.6,
    }).addTo(map)
    zoomMap()
    enableEvents()
})

function viewChangedByUser() {
    const bounds = map!.getBounds()
    emit('areaChanged', bounds, true)
}

function viewChangedAutomatically() {
    const bounds = map!.getBounds()
    emit('areaChanged', bounds, false)
}

function boundingBox() {
    return <any>getBoundingBox([
        {lat: props.myLocation?.latitude ?? 0, lon: props.myLocation?.longitude ?? 0},
    ], props.surroundingBox ?? 500)
}

function zoomMap() {
    if (map == null) return
    const bbox = boundingBox()

    disableEvents()
    
    map.fitBounds([
        [bbox.topLeft.lat, bbox.topLeft.lon], 
        [bbox.bottomRight.lat, bbox.bottomRight.lon]], 
        {})

    viewChangedAutomatically()
    setTimeout(() => {
        enableEvents()
    }, 500)
    
}

function enableEvents() {
    map!.on('zoomend', viewChangedByUser)
    map!.on('moveend', viewChangedByUser)
}

function disableEvents() {
    map!.off('zoomend', viewChangedByUser)
    map!.off('moveend', viewChangedByUser)
}
</script>

<template>
    <div ref="mapElement" class="large-map"></div>
</template>