<script setup lang="ts">
import { distanceTo, getBoundingBox } from 'geolocation-utils';
import type { Circle, Map } from 'leaflet';
import { onMounted, ref, watch, type Ref } from 'vue';

const props = defineProps<{
    location: {longitude: number, latitude: number},
    myLocation: {longitude: number, latitude: number, accuracy: number},
    distance: number,
}>()

const mapElement = <Ref<HTMLElement|null>>ref(null)

let map = <Map|null>null
let myMarker = <Circle<any>|null>null
watch(() => props.myLocation, loc => {
    myMarker!.setLatLng([loc.latitude, loc.longitude])
    myMarker!.setRadius(loc.accuracy)
    const bbox = boundingBox()
    zoomMap()
})

onMounted(() => {
    
    map = L.map(mapElement.value!, {zoomControl: false, attributionControl: true, dragging: false, boxZoom: false, scrollWheelZoom: false, touchZoom: false})
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map)
    L.marker([props.location.latitude, props.location.longitude], {
    }).addTo(map)
    myMarker = L.circle([props.myLocation.latitude, props.myLocation.longitude], {
        radius: props.myLocation.accuracy,
        color: 'transparent',
        fillColor: 'var(--md-sys-color-primary)',
        fillOpacity: 0.7,
    }).addTo(map)
    zoomMap()
})

function boundingBox() {
    const distance = distanceTo(
        {lat: props.location.latitude, lon: props.location.longitude},
        {lat: props.myLocation.latitude, lon: props.myLocation.longitude}
    )
    return <any>getBoundingBox([
        {lat: props.location.latitude, lon: props.location.longitude},
        {lat: props.myLocation.latitude, lon: props.myLocation.longitude},
    ], distance / 5)
}

function zoomMap() {
    if (map == null) return
    const bbox = boundingBox()
    
    map.fitBounds([
        [bbox.topLeft.lat, bbox.topLeft.lon], 
        [bbox.bottomRight.lat, bbox.bottomRight.lon]], 
        {maxZoom: 18})
}

</script>

<template>
    <div ref="mapElement" class="map"></div>
</template>

<style>
.map-marker {
    display: block;
    position: relative;

    border-radius: 50%;
    border: 8px solid var(--md-sys-color-primary-container);
    width: 24px !important;
    height: 24px !important;
}
.map-marker:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid var(--md-sys-color-primary-container);
}
</style>