<script setup lang="ts">

defineProps<{
    icon?: any,
    title: string
}>()

</script>

<template>

    <div class="navigation-item">
        <div class="navigation-item-icon" v-if="icon">
            <component :is="icon" :size="22" />
        </div>
        <strong>{{title}}</strong>
    </div>

</template>

<style>
.navigation-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.navigation-item > strong {
    font-weight: normal;
    font-size: 16px;
    margin-top: 4px;
}

.navigation-item-icon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 64px;
    font-size: 24px;

    border-radius: 16px;

}

.navigation-item:hover .navigation-item-icon {
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}
.navigation-item.active .navigation-item-icon {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

</style>