<script setup lang="ts">
defineEmits<{
    (e: 'close'): void
}>()
defineProps<{
    animate: boolean
}>()
</script>

<template>
    <div class="navigation-drawer-shrim" @click="$emit('close')" :class="{animate: animate}"></div>
    <nav class="navigation-drawer" :class="{animate: animate}">
        <slot></slot>
    </nav>
</template>

<style>
.navigation-drawer-shrim {
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.5);

    z-index: 3999;
    transition: opacity 0.5s ease-in-out;
}
.navigation-drawer-shrim.animate {
    opacity: 0;
}
.navigation-drawer {
    display: flex;
    position: fixed;

    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;

    top: 0;
    left: 0;
    bottom: 0;
    width: 360px;

    padding: 12px;
    padding-top: 76px;
    padding-top: calc(12px + env(safe-area-inset-top));

    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    box-shadow: 0 0 5px var(--md-sys-color-outline);
    z-index: 4000;

    transition: transform 0.5s ease-in-out;
}
.navigation-drawer.animate {
    transform: translateX(-360px);
}
.navigation-drawer .navigation-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 56px;
    padding: 8px 28px;
    border-radius: 28px;
}
.navigation-drawer .navigation-item.active {
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}
.navigation-drawer .navigation-item:hover {
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}
.navigation-drawer .navigation-item strong {
    font-weight: bold;
}
.navigation-drawer .separator {
    display: block;
    margin: 16px;
    height: 1px;
    background: var(--md-sys-color-outline-variant);
}
.navigation-drawer h2 {
    color: var(--md-sys-color-on-surface-variant);
    padding: 0 28px;
    
    font-family: var(--md-sys-typescale-title-small-font-family-name);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    font-size: var(--md-sys-typescale-title-small-font-size);
    letter-spacing: var(--md-sys-typescale-title-small-tracking);
    line-height: var(--md-sys-typescale-title-small-height);
    text-transform: var(--md-sys-typescale-title-small-text-transform);
    text-decoration: var(--md-sys-typescale-title-small-text-decoration);
}
.navigation-drawer .separator + h2 {
    margin-top: -8px;
}

@keyframes navigationdrawer {
    from {
        transform: translateX(-360px);
    }
    to {
        transform: translateX(-0);
    }
}
</style>