<script setup lang="ts">
</script>

<template>
    <nav class="navigation-rail">
        <slot></slot>
    </nav>
</template>

<style>
.navigation-rail {
    display: flex;
    position: fixed;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;

    top: 0px;
    left: 0;
    bottom: 0;
    width: 80px;
    width: calc(80px + env(safe-area-inset-left));

    padding: 32px 12px;

    background: var(--md-sys-color-surface-transparent);
    color: var(--md-sys-color-on-surface);

    z-index: 3000;
}
.navigation-rail .navigation-item {
    animation: navigationrailitem 0.5s ease-in-out forwards;
}
.navigation-rail .navigation-item:first-child {
    animation-delay: -0.4s;
}
.navigation-rail .navigation-item:nth-child(2) {
    animation-delay: -0.2s;
}
@keyframes navigationrailitem {
    from {
        transform: translateX(-80px);
    }
    to {
        transform: translateX(0);
    }
}
</style>