<script setup lang="ts">
</script>

<template>
    <nav class="navigation-bar">
        <slot></slot>
    </nav>
</template>

<style>
.navigation-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    height: calc(80px + env(safe-area-inset-bottom));

    z-index: 3000;

    background: var(--md-sys-color-surface-transparent);
    color: var(--md-sys-color-on-surface-variant);

    padding: 12px 16px;
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.navigation-bar > .navigation-item {
    animation: navigationitem 0.5s ease-in-out forwards;
}
.navigation-bar > .navigation-item:nth-child(2) {
    animation-delay: -0.2s;
}
.navigation-bar > .navigation-item:nth-child(1) {
    animation-delay: -0.4s;
}
@keyframes navigationitem {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(0);
    }
}
</style>