<script setup lang="ts">
import { computed } from '@vue/reactivity';
import { Accessibility, Calendar, Camera, Globe, Map as MapIcon, User } from 'lucide-vue-next';
import { ref } from 'vue';
import Button from './Button.vue';
import Card from './Card.vue';
import Chip from './Chip.vue';
import Map from './Map.vue';

const props = defineProps<{
    title: string,
    category: string,
    description?: string,
    image?: string,
    artist?: string,
    website?: string,
    since?: string,
    indoor?: boolean,
    accessible?: boolean,
    coordinates: {longitude: number, latitude: number},
    myCoordinates?: {longitude: number, latitude: number, accuracy: number},
    distance: number,
}>()

const imageLoaded = ref(false)

const distanceText = computed(() => {
    if (props.distance >= 1000)
        return `${(props.distance / 1000).toFixed(1)} km`
    else 
        return `${props.distance} m`
})

function openImage() {
    window.location.href = props.image!
}

function openWebsite() {
    window.location.href = props.website!
}

</script>

<template>
    <Card class="poi-card">
        <img 
            v-if="image" 
            :class="{hidden: !imageLoaded}"
            :src="image"
            @load="imageLoaded = true"
            />
        <div 
            v-if="image && !imageLoaded"
            class="poi-card-no-photo">
            <Button
                @click="openImage"
                :icon="Camera"
                title="Show Photo"
                ></Button>
        </div>
        <div class="poi-card-title">
            <h2 class='title-large'>{{ title }}</h2> 
            <small class='title-small' v-if="distance">{{ distanceText }}</small>
        </div>
        <h3 class='title-medium'>{{ category }}</h3>
        <div class="poi-card-chips">
            <Chip
                v-if="artist"
                :icon="User"
                :title="artist" />
            <Chip
                v-if="since"
                :icon="Calendar"
                :title="since" />
            <Chip
                v-if="indoor"
                title="Indoor" />
            <Chip
                v-if="accessible"
                :icon="Accessibility"
                title="Accessible" />
        </div>
        <p class='body-medium' 
            v-if="description">
                {{ description }}
        </p>

        <div class="poi-card-buttons" v-if="website">
            <!-- <Button 
                class='tonal' 
                :icon="MapIcon" 
                title="Show On Map"></Button> -->
            <Button 
                v-if="website" 
                @click="openWebsite"
                :icon="Globe" 
                class="tonal"
                title="Website"></Button>
        </div>

        <div class="poi-card-map">
            <Map
                :location="coordinates"
                :distance="distance"
                :my-location="myCoordinates!"
                ></Map>
        </div>
    </Card>
</template>

<style>
.poi-card {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}
.poi-card img {
    margin: -16px;
    margin-bottom: 16px;
    width: calc(100% + 64px);
}
.poi-card img.hidden {
    display: none;
}
.poi-card-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    margin-top: 16px;
}
.poi-card-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}
.poi-card-title small {
    min-width: 50px;
    text-align: right;
}
.poi-card-no-photo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-bottom: 32px;
}
.poi-card-chips {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.poi-card-map {
    display: block;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
}
.poi-card-map .map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
</style>
