<script setup lang="ts">
import { currentLocation } from '@/model/LocationService';
import { watch } from 'vue';
import PoiCard from './PoiCard.vue';

const props = defineProps<{
    items: any[],
    selected?: any,
}>()

watch(props, () => {
    if (props.selected == undefined) return
    const el = document.getElementById(`card-${props.selected}`)
    if (el == undefined) return
    const top = el!.offsetTop - 100
    document.getElementById('poi-list-container')?.scrollTo({top, behavior: 'smooth'})
})

</script>

<template>
    <div class="poi-list">

        <TransitionGroup name="near-me-list">
            <PoiCard 
                v-for="item in items"
                :id="`card-${item.id}`"
                :key="item.id"
                :title="item.tags.name ?? item.tags.artwork_type ?? item.tags.tourism ?? 'Landmark'"
                :category="item.tags.artwork_type ?? item.tags.tourism ?? ''"
                :artist="item.tags.artist_name"
                :description="item.tags.description"
                :image="item.tags.image"
                :website="item.tags.website"
                :since="item.tags.start_date"
                :indoor="item.tags.indoor == 'yes'"
                :accessible="item.tags.wheelchair == 'yes'"
                :coordinates="{longitude: item.lon, latitude: item.lat}"
                :my-coordinates="currentLocation"
                :distance="item.distance"
                :class="{active: selected == item.id}"
                />
        </TransitionGroup>
    </div>
</template>

<style>
.poi-list {
    display: flex; 
    flex-flow: column nowrap; 
    gap: 16px;
}
</style>