<script setup lang="ts">
</script>

<template>
    <div class="search-animation">
        <div class="sweep">

        </div>
    </div>
</template>

<style>
.search-animation {
    display: block;
    position: relative;

    height: 200px;
    width: 200px;

    border-radius: 100%;

    overflow: hidden;

}
.search-animation .sweep {
    display: block;
    position: absolute;

    top: 8px;
    left: 8px;
    
    height: calc(50% - 8px);
    width: calc(50% - 8px);

    border-right: 1px solid var(--md-sys-color-primary);
    border-radius: 100% 0 0 0;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, var(--md-sys-color-primary));

    transform-origin: 100% 100%;
    animation: sweep 5s infinite linear;
}
@keyframes sweep { 
    to { 
        transform: rotate(360deg); 
    } 
}
</style>