<script setup lang="ts">
</script>

<template>
    <div class="segmented-button">
        <slot></slot>
    </div>
</template>

<style>
.segmented-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.segmented-button > button {
    margin: 0;
    border-radius: 0;
}
.segmented-button > button:first-child {
    border-radius: 16px 0 0 16px;
}
.segmented-button > button:last-child {
    border-radius: 0 16px 16px 0;
}
.segmented-button > button.active {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
</style>