<script setup lang="ts">
import { Accessibility, Calendar, Camera, Globe, User, X } from 'lucide-vue-next';
import { ref } from 'vue';
import Button from './Button.vue';
import Card from './Card.vue';
import Chip from './Chip.vue';

defineEmits<{
    (e: 'close'): void
}>()

const props = defineProps<{
    title: string,
    category: string,
    description?: string,
    image?: string,
    artist?: string,
    website?: string,
    since?: string,
    indoor?: boolean,
    accessible?: boolean,
}>()

const imageLoaded = ref(false)

function openImage() {
    window.location.href = props.image!
}

function openWebsite() {
    window.location.href = props.website!
}

</script>

<template>
    <Card class="poi-card simple-poi-card">
        <div class="poi-card-title">
            <h2 class='title-large'>{{ title }}</h2> 
            <span 
                @click="$emit('close')"
                class="poi-card-close">
                <X
                    :size="16" />
            </span>
        </div>
        <img 
            v-if="image" 
            :class="{hidden: !imageLoaded}"
            :src="image"
            @load="imageLoaded = true"
            />
        <div 
            v-if="image && !imageLoaded"
            class="poi-card-no-photo">
            <Button
                @click="openImage"
                :icon="Camera"
                title="Show Photo"
                ></Button>
        </div>
        
        <h3 class='title-medium'>{{ category }}</h3>
        <div class="poi-card-chips">
            <Chip
                v-if="artist"
                :icon="User"
                :title="artist" />
            <Chip
                v-if="since"
                :icon="Calendar"
                :title="since" />
            <Chip
                v-if="indoor"
                title="Indoor" />
            <Chip
                v-if="accessible"
                :icon="Accessibility"
                title="Accessible" />
        </div>
        <p class='body-medium' 
            v-if="description">
                {{ description }}
        </p>

        <div class="poi-card-buttons" v-if="website">
            <Button 
                v-if="website" 
                @click="openWebsite"
                :icon="Globe" 
                class="tonal"
                title="Website"></Button>
        </div>
    </Card>
</template>

<style>
.poi-card-close {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: var(--md-sys-typescale-title-large-font-size);
    aspect-ratio: 1;

    border-radius: 100%;
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);

    cursor: pointer;
}
.simple-poi-card img {
    margin-top: 6px;
}
</style>
