<script setup lang="ts">
import NavigationBar from '../components/NavigationBar.vue';
import NavigationRail from '../components/NavigationRail.vue';
import NavigationItem from '../components/NavigationItem.vue';

import { Compass, Map as MapIcon, MapPin } from 'lucide-vue-next';
import NearMeView from '../views/NearMeView.vue';
import MapView from '../views/MapView.vue';
import { ref } from 'vue';
import GuidesView from '@/views/GuidesView.vue';
import { computed } from '@vue/reactivity';

const props = defineProps<{
    width: number,
}>()

enum Tabs {
    Guides,
    NearMe,
    Map,
}

const currentTab = ref(Tabs.NearMe)

const currentView = computed(() => {
    const tab = currentTab.value
    switch(tab) {
        case Tabs.Guides:
            return GuidesView
        case Tabs.NearMe:
            return NearMeView
        case Tabs.Map:
            return MapView
    }
})

const useNavigationRail = computed(() => props.width > 490)


</script>

<template>

    <KeepAlive>
        <Component :is="currentView" :rail="useNavigationRail" />
    </KeepAlive>
    
    <NavigationBar v-if="!useNavigationRail">
        <NavigationItem 
            @click="currentTab = Tabs.Guides"
            :class="{active: currentTab == Tabs.Guides}" 
            :icon="Compass" 
            title="Guides" 
            />
        <NavigationItem 
            @click="currentTab = Tabs.NearMe"
            :class="{active: currentTab == Tabs.NearMe}" 
            :icon="MapPin" title="Near Me" 
            />
        <NavigationItem 
            @click="currentTab = Tabs.Map"
            :class="{active: currentTab == Tabs.Map}" 
            :icon="MapIcon" title="Map" 
            />
    </NavigationBar>

    <NavigationRail v-if="useNavigationRail">
        <NavigationItem 
            @click="currentTab = Tabs.NearMe"
            :class="{active: currentTab == Tabs.NearMe}" 
            :icon="MapPin" title="Near Me" 
            />
        <NavigationItem 
            @click="currentTab = Tabs.Guides"
            :class="{active: currentTab == Tabs.Guides}" 
            :icon="Compass" 
            title="Guides" 
            />
        <NavigationItem 
            @click="currentTab = Tabs.Map"
            :class="{active: currentTab == Tabs.Map}" 
            :icon="MapIcon" title="Map" 
            />
    </NavigationRail>

</template>

<style scoped>

</style>
