<script setup lang="ts">

import { onMounted } from 'vue';

import CombinedView from '@/views/CombinedView.vue';
import { autoEnable } from '../model/LocationService';


onMounted(() => {
    autoEnable()
})

</script>

<template>

    <CombinedView />

</template>

<style>
.side-by-side {
    display: block;
    position: relative;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;
}
.side-by-side > :first-child {
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow: hidden;
    overflow-y: auto;
}
.side-by-side > :last-child {
    display: block;
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 300px);
    overflow: hidden;
}
</style>
