html {
    min-height: calc(100% + env(safe-area-inset-top) + env(safe-area-inset-bottom));
}

body {
    font: 16pt/1.1em "Ubuntu","Roboto","Helvetica",sans-serif;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}
main {
    padding: 16px;
    padding-top: calc(64px + 16px);
    padding-top: calc(64px + 16px + env(safe-area-inset-top));
    padding-bottom: calc(80px + 16px);
    padding-bottom: calc(80px + 16px + env(safe-area-inset-bottom));

    padding-left: calc(16px + env(safe-area-inset-left));
    padding-right: calc(16px + env(safe-area-inset-right));
}
main.rail {
    padding-left: calc(80px + 16px + env(safe-area-inset-left));
}