:root {
  --md-source: #926f00;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #251a00;
  --md-ref-palette-primary20: #3f2e00;
  --md-ref-palette-primary25: #4c3800;
  --md-ref-palette-primary30: #5a4300;
  --md-ref-palette-primary35: #684f00;
  --md-ref-palette-primary40: #775a00;
  --md-ref-palette-primary50: #967200;
  --md-ref-palette-primary60: #b48b0e;
  --md-ref-palette-primary70: #d2a52e;
  --md-ref-palette-primary80: #f0c048;
  --md-ref-palette-primary90: #ffdf99;
  --md-ref-palette-primary95: #ffefd2;
  --md-ref-palette-primary98: #fff8f2;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #241a04;
  --md-ref-palette-secondary20: #3a2f15;
  --md-ref-palette-secondary25: #463a1f;
  --md-ref-palette-secondary30: #52452a;
  --md-ref-palette-secondary35: #5e5134;
  --md-ref-palette-secondary40: #6a5d3f;
  --md-ref-palette-secondary50: #847556;
  --md-ref-palette-secondary60: #9f8f6e;
  --md-ref-palette-secondary70: #bba987;
  --md-ref-palette-secondary80: #d7c5a0;
  --md-ref-palette-secondary90: #f4e0bb;
  --md-ref-palette-secondary95: #ffefd2;
  --md-ref-palette-secondary98: #fff8f2;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #062109;
  --md-ref-palette-tertiary20: #1c361d;
  --md-ref-palette-tertiary25: #274227;
  --md-ref-palette-tertiary30: #324d32;
  --md-ref-palette-tertiary35: #3d593d;
  --md-ref-palette-tertiary40: #496548;
  --md-ref-palette-tertiary50: #617e5f;
  --md-ref-palette-tertiary60: #7a9977;
  --md-ref-palette-tertiary70: #94b391;
  --md-ref-palette-tertiary80: #afcfab;
  --md-ref-palette-tertiary90: #cbebc6;
  --md-ref-palette-tertiary95: #d9fad3;
  --md-ref-palette-tertiary98: #ebffe6;
  --md-ref-palette-tertiary99: #f6fff0;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1e1b16;
  --md-ref-palette-neutral20: #33302a;
  --md-ref-palette-neutral25: #3f3b35;
  --md-ref-palette-neutral30: #4a4640;
  --md-ref-palette-neutral35: #56524b;
  --md-ref-palette-neutral40: #625e57;
  --md-ref-palette-neutral50: #7b766f;
  --md-ref-palette-neutral60: #969088;
  --md-ref-palette-neutral70: #b0aaa2;
  --md-ref-palette-neutral80: #ccc5bd;
  --md-ref-palette-neutral90: #e9e1d9;
  --md-ref-palette-neutral95: #f7f0e7;
  --md-ref-palette-neutral98: #fff8f2;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #201b10;
  --md-ref-palette-neutral-variant20: #363024;
  --md-ref-palette-neutral-variant25: #413b2e;
  --md-ref-palette-neutral-variant30: #4d4639;
  --md-ref-palette-neutral-variant35: #595244;
  --md-ref-palette-neutral-variant40: #655d4f;
  --md-ref-palette-neutral-variant50: #7e7667;
  --md-ref-palette-neutral-variant60: #999080;
  --md-ref-palette-neutral-variant70: #b4aa99;
  --md-ref-palette-neutral-variant80: #d0c5b4;
  --md-ref-palette-neutral-variant90: #ece1cf;
  --md-ref-palette-neutral-variant95: #fbefdd;
  --md-ref-palette-neutral-variant98: #fff8f2;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #775a00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdf99;
  --md-sys-color-on-primary-container-light: #251a00;
  --md-sys-color-secondary-light: #6a5d3f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f4e0bb;
  --md-sys-color-on-secondary-container-light: #241a04;
  --md-sys-color-tertiary-light: #496548;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #cbebc6;
  --md-sys-color-on-tertiary-container-light: #062109;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1b16;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-surface-light-transparent: #fffbffe1;
  --md-sys-color-on-surface-light: #1e1b16;
  --md-sys-color-surface-variant-light: #ece1cf;
  --md-sys-color-surface-variant-light-transparent: #ece1cfe1;
  --md-sys-color-on-surface-variant-light: #4d4639;
  --md-sys-color-outline-light: #7e7667;
  --md-sys-color-inverse-on-surface-light: #f7f0e7;
  --md-sys-color-inverse-surface-light: #33302a;
  --md-sys-color-inverse-primary-light: #f0c048;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #775a00;
  --md-sys-color-outline-variant-light: #d0c5b4;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #f0c048;
  --md-sys-color-on-primary-dark: #3f2e00;
  --md-sys-color-primary-container-dark: #5a4300;
  --md-sys-color-on-primary-container-dark: #ffdf99;
  --md-sys-color-secondary-dark: #d7c5a0;
  --md-sys-color-on-secondary-dark: #3a2f15;
  --md-sys-color-secondary-container-dark: #52452a;
  --md-sys-color-on-secondary-container-dark: #f4e0bb;
  --md-sys-color-tertiary-dark: #afcfab;
  --md-sys-color-on-tertiary-dark: #1c361d;
  --md-sys-color-tertiary-container-dark: #324d32;
  --md-sys-color-on-tertiary-container-dark: #cbebc6;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1b16;
  --md-sys-color-on-background-dark: #e9e1d9;
  --md-sys-color-surface-dark: #1e1b16;
  --md-sys-color-surface-dark-transparent: #1e1b16e1;
  --md-sys-color-on-surface-dark: #e9e1d9;
  --md-sys-color-surface-variant-dark: #4d4639;
  --md-sys-color-surface-variant-dark-transparent: #4d4639e1;
  --md-sys-color-on-surface-variant-dark: #d0c5b4;
  --md-sys-color-outline-dark: #999080;
  --md-sys-color-inverse-on-surface-dark: #1e1b16;
  --md-sys-color-inverse-surface-dark: #e9e1d9;
  --md-sys-color-inverse-primary-dark: #775a00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #f0c048;
  --md-sys-color-outline-variant-dark: #4d4639;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: "Ubuntu","Roboto","Helvetica",sans-serif;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
