<script setup lang="ts">
import NavigationBar from './components/NavigationBar.vue';
import NavigationItem from './components/NavigationItem.vue';

import { Compass, Component, Map as MapIcon, MapPin } from 'lucide-vue-next';
import NearMeView from './views/NearMeView.vue';
import MapView from './views/MapView.vue';
import { onMounted, ref } from 'vue';
import PhoneWindow from './windows/PhoneWindow.vue';
import { computed } from '@vue/reactivity';
import TabletWindow from './windows/TabletWindow.vue';

enum DeviceType {
    Phone,
    Tablet,
    Desktop,
}

enum Orientation {
    Portrait = 'portrait',
    Landscape = 'landscape',
}

const screenWidth = ref(0)
const screenHeight = ref(0)
const device = computed(() => {
    if (screenWidth.value <= 500) {
        return DeviceType.Phone
    } else if (screenWidth.value <= 1000) {
        return DeviceType.Tablet
    } else {
        return DeviceType.Desktop
    }
})
const mainWindow = computed(() => {
    if (device.value == DeviceType.Phone) {
        return PhoneWindow
    } else if (device.value == DeviceType.Tablet) {
        return PhoneWindow
    } else {
        return TabletWindow
    }
})

function updateScreenSize() {
    screenWidth.value = window.innerWidth
    screenHeight.value = window.innerHeight
}

onMounted(() => {
    updateScreenSize()
    window.addEventListener('resize', () => {
        updateScreenSize()
        setTimeout(() => {
            updateScreenSize()
        }, 500)
    })
})


</script>

<template>

    <Component :is="mainWindow" :width="screenWidth"></Component>

</template>

<style scoped>

</style>
